@use '@styles' as *;

.searchPage {
	@include container;

	display: flex;
	flex-direction: column;
	gap: $space-md;
	min-height: 100vh;
	padding: 1.5rem;
}

.searchContainer {
	display: flex;
	justify-content: center;
}

.inputContainer {
	display: flex;
	gap: $space-sm;
	align-items: center;
	width: 100%;
	max-width: 800px;
	padding: $space-sm 0 $space-sm $space-sm;
	cursor: text;
	background: $bg-primary;
	border: 2px solid $border-light;
	border-radius: $space-md;
	box-shadow: 0 1px 3px 0 $overlay-light;
	transition: border 0.1s linear;

	&:has(input:focus) {
		border: 2px solid $brand-primary;
	}
}

.inputContainer svg {
	color: $text-primary;
}

.searchBtn {
	@include center-flex;

	height: 100%;
	cursor: pointer;
}

.searchIcon {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.searchInput {
	width: 93%;
	padding: $space-xs 0;
	font-size: $font-lg;

	&::placeholder {
		color: $text-placeholder;
	}

	&::-webkit-clear-button {
		display: none;
	}
}

.clearBtn {
	@include center-flex;

	width: 40px;
	height: 100%;
	padding: 0;
	cursor: pointer;
}

.clearIcon {
	width: 16px;
	height: 16px;
}

.searchResultsContainer {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: $space-lg;
	justify-content: start;
	width: 100%;
}

.header {
	display: flex;
	gap: $space-md;
	align-items: center;
	justify-content: center;
	font-size: $font-xxl;
	color: $text-primary;
	text-align: center;

	.deleteBtn {
		background-color: $bg-brand-light;
	}
}

.searchResultList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	gap: $space-lg;
	align-items: stretch;
}

.searchResultItem {
	display: flex;
	justify-content: center;
}

.movieCard {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 320px;
	max-height: 570px;
	overflow: hidden;
	color: $text-primary;
	text-decoration: none;
	background-color: $bg-primary;
	border-radius: $space-xl;
	box-shadow: 2px 2px 5px $overlay-medium;
	transition:
		transform 0.3s ease,
		background-color 0.2s ease;

	&:hover {
		background-color: $bg-secondary;
		transform: translateY(-$space-sm);
	}
}

.movieCard:hover .deleteBtnWrapper {
	opacity: 100%;
}

.cover {
	display: block;
	width: 100%;
	max-width: 320px;
	aspect-ratio: 2/3;
	object-fit: cover;
}

.details {
	display: flex;
	flex-direction: column;
	gap: $space-sm;
	height: 100%;
	padding: $space-lg;
}

.title {
	font-size: $font-lg;
	font-weight: 700;
}

.year {
	font-size: $font-lg;
	color: $text-tertiary;
}

.rating {
	margin-top: auto;
	font-size: $font-lg;
}

.deleteBtnWrapper {
	position: absolute;
	top: 10px;
	left: 10px;
	opacity: 0%;
	transition: opacity 0.2s ease;
}

.deleteBtn {
	@include center-flex;

	width: 40px;
	height: 40px;
	cursor: pointer;
	background-color: $overlay-dark;
	border: 2px solid $border-medium;
	border-radius: 8px;
	transition: background-color .15s ease;

	&:hover {
		background-color: $error;
	}
}

.deleteBtnIcon {
	width: 16px;
	height: 16px;
	color: $text-muted;
}
