@use '../../styles/_variables.scss' as *;
@use '../../styles/sharedStyles.scss' as *;

.searchContainer {
	display: flex;
	justify-content: center;

	.inputContainer {
		display: flex;
		gap: $space-sm;
		align-items: center;
		width: 100%;
		max-width: 800px;
		padding: $space-sm 0 $space-sm $space-sm;
		cursor: text;
		background-color: var(--colors-background-neutrals-subtle);
		border: 1px solid transparent;
		border-radius: $space-md;
		transition: border 0.1s linear;

		&:has(input:focus) {
			border: 1px solid var(--colors-border-primary);
		}

		svg {
			color: var(--colors-border-neutrals-text);
		}

		.searchBtn {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			padding-left: $space-xs;
			cursor: pointer;

			.searchIcon {
				width: 20px;
				height: 20px;
				cursor: pointer;
			}
		}

		.searchInput {
			width: 93%;
			padding: $space-xs 0;
			font-family: 'Noto Sans', Arial, sans-serif;
			font-size: $font-lg;

			&::placeholder {
				color: var(--colors-text-neutrals-placeholder);
			}

			::-webkit-clear-button {
				display: none;
			}
		}

		.clearBtn {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 100%;
			padding: 0;
			cursor: pointer;

			.clearIcon {
				width: 16px;
				height: 16px;
			}
		}
	}
}

.results {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	margin-top: $space-lg;
	margin-bottom: $space-lg;
}
