@use '../../styles/_variables.scss' as *;

.sidepanel {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 100%;
	background-color: var(--colors-background-neutrals-inverted);
	transition: width 0.3s ease;

	&.collapsed {
		width: 80px;

		.navigation .navItem {
			gap: 0;
			justify-content: center;
			padding: 0;
		}

		.navigation .words .wordsCountWrapper {
			right: 50%;
			bottom: 0;
		}

		.logoWrapper {
			gap: 0;
		}

		.toggle .toggleIcon {
			rotate: -90deg;
		}
	}

	.logoWrapper {
		display: flex;
		align-items: center;
		width: 100%;
		overflow: hidden;
		transition: flex 0.2s linear;

		.topTitle {
			display: flex;
			flex: 1;
			justify-content: center;
			font-weight: 900;
			color: var(--colors-text-neutrals-inverted);
		}

		.topLogo {
			display: block;
			width: 80px;
			height: 100px;

			.logo {
				width: 80px;
				height: 100px;
			}
		}
	}

	.toggle {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 30px;
		color: var(--colors-background-neutrals);
		cursor: pointer;
		transition: color 0.1s ease-in;

		&:hover {
			color: var(--colors-background-success);
		}

		.toggleIcon {
			width: 24px;
			height: 24px;
			stroke-width: 4px;
			rotate: 90deg;
			transition: rotate 0.2s linear;
		}
	}

	.navigation {
		display: flex;
		flex-direction: column;
		gap: $space-md;
		width: 100%;
		height: 100%;
		margin-top: $space-sm;
		font-size: $font-lg;
		color: var(--colors-text-neutrals-inverted);
		transition: color 0.1s ease-in-out;

		svg {
			flex-shrink: 0;
		}

		.navItem {
			display: flex;
			gap: $space-md;
			align-items: center;
			width: 100%;
			height: 40px;
			padding: 0 $space-lg;
			transition:
				background-color 0.1s ease-in,
				padding 0.1s linear;

			.searchIcon {
				path {
					stroke-width: 3px;
				}
			}

			.searchIcon,
			.popularIcon,
			.infoIcon,
			.bookIcon,
			.settingsIcon,
			.loginIcon,
			.logoutIcon {
				width: 24px;
				height: 24px;
			}

			.logoutIcon {
				margin-right: -6px;
				scale: -1;
			}

			&:hover {
				background-color: var(--colors-background-neutrals-inverted-subtle);
			}
		}

		.words {
			position: relative;

			.wordsCountWrapper {
				position: absolute;
				right: 11%;
				bottom: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				min-width: 20px;
				height: 18px;
				padding: 6px;
				background-color: var(--colors-background-primary-prominent);
				border-radius: 20%;
				translate: 50% 50%;

				.wordsCount {
					font-size: $font-md;
					font-weight: 600;
					color: var(--colors-text-neutrals-inverted);
				}
			}
		}

		.login {
			justify-content: center;
			margin-top: auto;
			font-size: $space-lg;
			cursor: pointer;
		}
	}
}
