/* stylelint-disable selector-pseudo-class-no-unknown */
@use '@styles' as *;

.main {
	z-index: 1;
	display: flex;
	flex: 1;
	height: 100%;
	padding: 1.5rem;

	@include respond-to('sm') {
		padding: 1rem;
	}
}

.sectionSlider {
	width: 100vw;
	height: 100vh;
}

:global {
	.swiper {
		width: 100%; // swiper scrollbar won't appear without it
	}

	.swiper-slide {
		height: 100vh !important;
	}
}

.customScrollbar {
	:global {
		.swiper-scrollbar-drag {
			background-color: #7e4efc !important;
		}

		.swiper-scrollbar-vertical {
			top: 0 !important;
			right: 0 !important;
			width: 6px !important;
			height: 100vh !important;
		}
	}
}
