@use 'mixins' as *;

%button-base {
	display: block;
	width: fit-content;
	padding: 0.75rem;
	font-size: 1rem;
	color: var(--text-primary);
	text-decoration: none;
	cursor: pointer;
	background-color: var(--bg-muted);
	border: 1px solid var(--border-light);
	border-radius: 0.5rem;
	transition:
		color 0.1s linear,
		background-color 0.1s linear;

	@include desktop-hover {
		background-color: var(--bg-primary);
	}
}

%input-base {
	width: 100%;
	padding: 0.75rem;
	font-size: 1rem;
	border: 1px solid var(--border-dark);
	border-radius: 0.75rem;
}
