// breakpoints
$breakpoints: (
	'xs': 320px,
	'sm': 576px,
	'md': 768px,
	'lg': 992px,
	'xl': 1200px,
	'xxl': 1400px
);

// Line Height
$line-height-xs: 1;
$line-height-sm: 1.2;
$line-height-md: 1.5;
$line-height-lg: 1.7;
$line-height-xl: 2;

// Sidepanel Width
$sidepanel-width: 80px;
