@use '@styles' as *;
@use 'sass:color';


.subtitlesSection {
	@extend %container;

	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 1rem 1.5rem 1.5rem;

	@include respond-to('sm') {
		padding: 1rem;
	}
}
