@use '../../styles/_variables.scss' as *;
@use '../../styles/animations.scss' as *;

.sidepanel {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 80px;
	height: 100%;
	overflow-x: hidden;
	background-color: var(--colors-background-neutrals-inverted);
	box-shadow: 0 0 $space-xxl var(--colors-background-neutrals-control);
	transition: width 0.5s ease;

	&:hover {
		width: 220px;

		.navigation .topWrapper .topTitle {
			opacity: 100%;
		}

		.navigation .navList .navLink .navLinkText {
			opacity: 100%;
		}

		.navigation .words .wordsCount {
			right: 20px;
			bottom: 50%;
		}
	}

	.navigation {
		width: 220px;
		height: 100%;
		font-size: $font-lg;
		font-weight: 600;
		color: var(--colors-text-neutrals-inverted);
		text-transform: uppercase;
		letter-spacing: 0.6px;
		transition: color 0.1s ease-in-out;

		.navList {
			display: flex;
			flex-direction: column;
			gap: $space-md;
			height: 100%;

			.navLink {
				display: flex;
				gap: $space-md;
				align-items: center;
				width: 100%;
				height: 40px;
				padding: 0 28px;
				font-size: $font-lg;
				transition:
					background-color 0.1s ease-in,
					padding 0.1s linear;

				svg {
					flex-shrink: 0;
					width: 24px;
					height: 24px;
				}

				.navLinkText {
					opacity: 0%;
					transition: opacity 0.1s ease-in;
				}

				.searchIcon {
					path {
						stroke-width: 3px;
					}
				}

				.logoutIcon {
					scale: -1;
				}

				&:hover {
					background-color: var(--colors-background-neutrals-inverted-subtle);
				}
			}
		}

		.topWrapper {
			display: flex;
			align-items: center;
			width: 100%;
			overflow: hidden;

			.topTitle {
				display: flex;
				visibility: visible;
				flex: 1;
				justify-content: center;
				font-size: 30px;
				font-weight: 900;
				color: var(--colors-text-neutrals-inverted);
				text-decoration: var(--colors-background-primary-prominent) wavy
					underline;
				opacity: 0%;
				transition:
					opacity 0.5s ease,
					color 0.2s linear;

				&:hover {
					color: var(--colors-text-neutrals-inverted-subtle);
				}
			}

			.logo {
				width: 80px;
				height: 100px;
			}
		}

		.words {
			position: relative;

			.wordsCount {
				position: absolute;
				right: 180px;
				bottom: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				width: fit-content;
				height: 18px;
				padding: 6px;
				font-size: $font-md;
				font-weight: 600;
				color: var(--colors-text-neutrals-inverted);
				background-color: var(--colors-background-primary-prominent);
				border-radius: 20%;
				translate: 50% 50%;
			}
		}

		li:last-child {
			margin-top: auto;

			button {
				font-weight: inherit;
				text-transform: inherit;
				cursor: pointer;
			}
		}
	}
}
