@use '@styles' as *;

.fsLoaderContainer {
	display: grid;
	place-content: center;
	width: 100%;
	height: 100vh;
}

.fsLoader {
	position: relative;
	box-sizing: border-box;
	width: 80px;
	height: 40px;
	padding: 3px;
	color: $text-primary;
	background: repeating-linear-gradient(
			90deg,
			currentColor 0 10px,
			#0000 0 15px
		)
		0 / 0% no-repeat content-box content-box;
	border: 2px solid currentcolor;
	border-right-color: transparent;
	animation: l5 2s infinite steps(6);
}

.fsLoader::before {
	position: absolute;
	top: -2px;
	bottom: -2px;
	left: 100%;
	width: 10px;
	content: '';
	background:
		linear-gradient(
				#0000 calc(50% - 7px),
				currentColor 0 calc(50% - 5px),
				#0000 0 calc(50% + 5px),
				currentColor 0 calc(50% + 7px),
				#0000 0
			)
			left / 100% 100%,
		linear-gradient(
				currentColor calc(50% - 5px),
				#0000 0 calc(50% + 5px),
				currentColor 0
			)
			left / 2px 100%,
		linear-gradient(
				#0000 calc(50% - 5px),
				currentColor 0 calc(50% + 5px),
				#0000 0
			)
			right / 2px 100%;
	background-repeat: no-repeat;
}

@keyframes l5 {
	100% {
		background-size: 120%;
	}
}
