/* stylelint-disable selector-pseudo-class-no-unknown */
@use '@styles' as *;

.hero {
	z-index: 1;
	display: flex;
	flex: 1;
	flex-flow: row wrap;
	justify-content: center;
	color: var(--text-primary);
}

.heroAnimationContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;

	@include respond-to('sm') {
		display: none;
	}
}

.heroAnimation {
	width: 500px;
	height: 500px;
}

.heroTextContainer {
	display: flex;
	flex-flow: column nowrap;
	width: 50%;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: #{$line-height-md};
}

.heroHeading {
	display: flex;
	gap: 20px;
	align-items: center;
	font-size: 6.875rem;
	color: #{$brand-secondary};
	text-decoration: #{$brand-primary} 5px wavy underline;

	svg {
		width: 5rem;
		height: 5rem;
	}
}

.heroLines {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin-top: 13rem;
}

.bgCircle {
	position: absolute;
	top: 60%;
	left: 0;
	z-index: -1;
	width: 30rem;
	height: auto;
	transform: translateY(-50%);

	circle {
		stroke: var(--bg-stroke);
	}

	:global([data-theme='dark']) & {
		opacity: 40%;
	}
}

.particle {
	position: absolute;
	background: #7e4efc;
	border-radius: 100%;
	opacity: 0%;
	transition: all 0.5s ease;

	&1 {
		top: 15%;
		left: 50%;
		width: 5rem;
		height: 5rem;
	}

	&2 {
		bottom: 10%;
		left: 75%;
		width: 3.5rem;
		height: 3.5rem;
	}

	&3 {
		bottom: 15%;
		left: 10%;
		width: 2.25rem;
		height: 2.25rem;
	}
}

.howToUse {
	position: absolute;
	bottom: 40px;
	left: 50%;
	display: flex;
	flex-flow: column;
	gap: 0.75rem;
	align-items: center;
	font-size: 1.125rem;
	font-weight: 500;
	color: #7e4efc;
	cursor: pointer;
	translate: calc(-50% - var(--sidepanel-width)); // transform won't work here
}
