@use '@styles' as *;
@use 'sass:color';

.header {
	@include center-flex;

	margin: 20px 0;
	font-size: 1.25rem;
}

.controlPanel {
	display: flex;
	gap: 0.5rem;
	justify-content: space-between;
	margin-bottom: 1rem;

	@include respond-to('md') {
		flex-direction: column-reverse;
		gap: 0.75rem;
	}
}

.findWord {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.findWordControlsContainer {
	display: flex;
	gap: 0.5rem;
}

.findWordInput {
	display: block;
	width: min-content;
	max-width: 10rem;
	padding: 0.5rem 1rem;
	color: var(--text-primary);
	border: 1px solid var(--border-dark);
	border-radius: 1rem;

	@include respond-to('lg') {
		max-width: 7rem;
	}

	@include respond-to('md') {
		max-width: 15rem;
	}
}

.findWordControl {
	svg {
		width: 24px;
		height: 24px;
		color: var(--text-primary);
		cursor: pointer;
		transition: color 0.1s linear;

		@include desktop-hover {
			color: var(--text-secondary);
		}
	}

	input {
		display: none;

		&:checked + svg {
			color: var(--success);
		}
	}
}

.subtitles {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.subtitle {
	display: flex;
	gap: 1rem;
	align-items: center;
	padding: 0.5rem;
	background-color: var(--bg-muted);
	border: 1px solid var(--border-light);
	border-radius: 0.5rem;

	&.highlighted {
		animation: highlight 2.5s ease-in-out;
	}

	@include respond-to('lg') {
		flex-direction: column;
		align-items: start;
	}
}

.subtitleControls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.subtitleWordsContainer {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	align-items: start;
	color: var(--text-primary);
}

.subtitleWordList {
	display: flex;
	flex-wrap: wrap;
}

.timecode {
	@include center-flex;

	min-width: 190px;
	padding: 0.25rem 0.5rem;
	font-size: 0.75rem;
	font-weight: 500;
	color: var(--text-tertiary);
	text-wrap: nowrap;
	background: var(--bg-tertiary);
	border-radius: 0.25rem;
}

.word {
	position: relative;
	padding: 0.125rem 0.25rem;
	cursor: pointer;
	border-radius: 0.25rem;
	transition: all 0.2s ease;
	transition:
		background-color 0.15s linear,
		scale 0.2s linear;

	@include desktop-hover {
		color: $brand-primary;
		background: var(--bg-brand-light);
	}

	&.selected {
		font-weight: 500;
		color: var(--success);
		background: var(--bg-success-light);

		@include desktop-hover {
			filter: brightness(var(--brightness-hover));
		}
	}
}

.text {
	font-size: 1rem;
	font-weight: 500;
	transition: translate 0.1s linear;
}

.punctuation {
	display: flex;
	align-items: center;
	justify-content: start;
	width: 0.75rem;
	font-size: 1rem;
}

.savedWordList {
	display: flex;
	gap: 0.5rem;
}

.savedWord {
	position: relative;
	display: flex;
	gap: 0.75rem;
	align-items: center;
	padding: 0.5rem;
	background: var(--bg-success-light);
	border: 1px solid var(--border-success);
	border-radius: 0.25rem;
}

.savedWordText {
	color: var(--success);
}

.removeSavedWordBtn {
	@include center-flex;

	color: var(--error);
	cursor: pointer;
}

.translateWordBtn {
	position: absolute;
	top: -10px;
	left: 50%;
	border: 1px solid $brand-accent;
}

.wordsContainer {
	display: flex;
	gap: 0.5rem;
}

.wordContainer {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.learningWord {
	position: relative;
	display: flex;
	gap: 0.5rem;
}

.selectedWords {
	display: flex;
	gap: 0.5rem;
}

.controls {
	display: flex;
	gap: 0.5rem;
}

.translateBtn {
	display: flex;
	gap: 0.375rem;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 0.75rem;
	margin-left: auto;
	color: $text-white;
	cursor: pointer;
	background: $gradient-primary;
	border-radius: 0.375rem;
	transition: all 0.2s ease;

	svg {
		width: 1rem;
		height: 1rem;
	}

	@include desktop-hover {
		box-shadow: 0 1px 3px 0 var(--overlay-light);
		transform: translateY(-1px);
	}
}

.wordsJoinContainer {
	display: flex;
	flex-flow: row wrap;
	gap: 0.5rem;
}

.wordToJoin {
	padding: 0.25rem 0.5rem;
	font-size: 1rem;
	font-weight: 500;
	color: var(--text-primary);
	cursor: pointer;
	border: 1px solid var(--border-medium);
	border-radius: 0.375rem;
	transition: background 0.2s ease;

	@include desktop-hover {
		background: var(--bg-success)-light;
	}
}

.wordToJoin.selected {
	color: var(--success);
	background: var(--bg-success-light);
	border: 1px solid var(--border-success);
}

.wordsJoinControls {
	display: flex;
	gap: 0.5rem;
}

button.control {
	width: fit-content;
	padding: 0.5rem 1rem;
	font-size: 0.875rem;
	font-weight: 500;
	color: var(--text-white);
	cursor: pointer;
	border: none;
	border-radius: 0.375rem;
	transition: all 0.2s ease;
}

button.control.save {
	background: var(--success);

	@include desktop-hover {
		filter: brightness(var(--brightness-hover));
	}
}

button.control:disabled {
	pointer-events: none;
	opacity: 50%;
}

.joinWordsPanel {
	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
}

.subtitleTranslation {
	margin: 0.25rem 0;
	font-size: 1rem;
	font-weight: 500;
	word-spacing: 0.25rem;

	&.error {
		@include center-flex;

		gap: 0.25rem;
		color: var(--error);
		word-spacing: normal;
	}
}
