@use '@styles' as *;
@use 'sass:color';

.subsPicker {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 1.25rem;
	align-items: center;
	width: 100%;
	color: var(--text-primary);
}

.subsHeader {
	font-size: 1.5rem;
}

.subList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 1rem;
	justify-items: center;
	width: 100%;
}
