@use '../../styles/_variables.scss' as *;
@use '../../styles/_sharedStyles.scss' as *;

.paginator {
	display: flex;
	gap: 1rem;
}

.pageButtonsContainer {
	display: grid;
	grid-auto-columns: min-content;
	grid-auto-flow: column;
	column-gap: $space-sm;
}

.pageButton {
	@extend %button-base;

	aspect-ratio: 1;
	padding: $space-sm;
}

.prevIcon,
.nextIcon {
	width: 24px;
	height: 24px;
	margin-top: 5px;
}

.prevIcon {
	rotate: 90deg;
}

.nextIcon {
	rotate: -90deg;
}

.paginator button:disabled {
	background-color: var(--colors-background-neutrals-disabled);
	opacity: 50%;
}

.paginator button.active {
	color: var(--colors-text-neutrals-inverted);
	background-color: var(--colors-background-primary-prominent);
}

.paginator button.ellipsis {
	cursor: default;
	background: transparent;
	border: none;
}

.goToPageInput {
	width: 4rem;
	padding: 0.5rem;
	font-size: $font-lg;
	text-align: center;
	border: 2px solid #e5e7eb;
	border-radius: $space-md;
}
