@use '../../styles/_variables.scss' as *;
@use '../../styles/_sharedStyles.scss' as *;

.paginator {
	display: flex;

	.buttons {
		display: grid;
		grid-auto-columns: min-content;
		grid-auto-flow: column;
		column-gap: $space-sm;

		button {
			@extend %button-base;

			min-width: 0;
			aspect-ratio: 1;
			padding: $space-sm;

			.prevIcon,
			.nextIcon {
				width: 24px;
				height: 24px;
				margin-top: 5px;
			}

			.prevIcon {
				rotate: 90deg;
			}

			.nextIcon {
				rotate: -90deg;
			}

			&:disabled {
				background-color: var(--colors-background-neutrals-disabled);
				opacity: 50%;
			}

			&.active {
				color: var(--colors-text-neutrals-inverted);
				background-color: var(--colors-background-primary-prominent);
			}

			&.ellipsis {
				cursor: default;
				background: transparent;
				border: none;
			}
		}
	}
}
