@use '../../styles/_variables.scss' as *;

.resultsContainer {
	display: flex;
	flex-direction: column;
	gap: $space-lg;
	align-self: flex-start;
	justify-content: center;
	width: 100%;

	.header {
		display: flex;
		gap: $space-md;
		align-items: center;
		justify-content: center;
		font-size: $font-xxl;
		color: var(--color-black);
	}

	.searchResults {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
		gap: $space-lg;

		.movieCard {
			display: flex;
			flex-direction: column;
			max-width: 300px;
			height: 100%;
			overflow: hidden;
			color: var(--colors-text-neutrals);
			text-decoration: none;
			background-color: var(--colors-background-neutrals-subtle);
			border-radius: $space-xl;
			box-shadow: 2px 2px 5px var(--colors-background-neutrals-control);
			transition:
				transform 0.3s ease,
				background-color 0.2s ease;

			&:hover {
				background-color: var(--colors-background-neutrals-subtle-hover);
				transform: translateY(-$space-sm);
			}

			.cover {
				display: block;
				width: 100%;
				aspect-ratio: 2/3;
				object-fit: cover;
			}

			.details {
				display: flex;
				flex-direction: column;
				gap: $space-sm;
				height: 100%;
				padding: $space-lg;

				.title {
					font-size: $font-lg;
					font-weight: 700;
				}

				.year {
					font-size: $font-lg;
					color: var(--colors-text-neutrals-subtle);
				}

				.rating {
					margin-top: auto;
					font-size: $font-lg;
				}
			}
		}
	}
}

.searchError {
	font-size: $font-xl;
	color: var(--color-yellow-dark);
	text-align: center;
}
