@use '../../../../../styles/_sharedStyles.scss' as *;
@use '../../../../../styles/_variables.scss' as *;

.wordContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100px;
	height: 50px;
	border: 2px solid var(--colors-border-primary);
	background-color: var(--colors-background-primary-subtle);
	border-radius: $space-md;
	padding: $space-lg $space-xl;
	cursor: pointer;
	transition:
		background-color 0.15s linear,
		scale 0.2s linear;

	&:hover {
		background-color: var(--);
	}

	&:hover .text {
		translate: 0 -3px;
	}

	&:active {
		scale: 1.1;
	}

	&.added {
		background-color: var(--colors-border-success-subtle);
	}

	.text {
		font-family: 'Noto Sans', Helvetica, sans-serif;
		font-size: $font-lg;
		font-weight: 700;
		transition: translate 0.1s linear;
	}

	.controls {
		display: flex;
		gap: $space-sm;
	}
}

.punctuation {
	display: flex;
	align-items: center;
	justify-content: center;
	width: $space-md;
	border-bottom: 2px dashed var(--colors-border-primary);
	font-size: $font-lg;
	font-weight: 800;
}
