@use './styles/_colors.scss' as *;
@use './styles/_colors2.scss' as *;
@use './styles/_variables.scss' as *;
@use 'sass:meta';

:root {
	@include generate-color-vars($colors);
}

body {
	width: 100vw;
	min-width: 320px;
	min-height: 100vh;
	padding-left: 80px;
	margin: 0;
	overflow-x: hidden;
	font-family: 'Exo 2', Arial, sans-serif;
}

#root {
	background: $bg-gradient-light;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
img,
button {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
}

ul {
	padding-inline-start: 0;
	list-style: none;
}

input,
button,
a {
	font-family: 'Exo 2', Arial, sans-serif;
	color: inherit;
	outline: none;
	background-color: transparent;
	border: none;
}

button,
a {
	&:focus-visible {
		outline: 2px dashed var(--colors-border-focus-middle);
	}

	&:focus:not(:focus-visible) {
		outline: none;
	}
}

input::-webkit-search-cancel-button,
input::-webkit-clear-button {
	display: none;
	appearance: auto;
	appearance: textfield;
}

svg {
	flex-shrink: 0;
}

.main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
}
