@use '../../styles/_variables.scss' as *;

.subtitleBox {
	padding: $space-lg;
	display: flex;
	flex-direction: column;
	gap: $space-lg;
	border-radius: $space-sm;
	color: var(--colors-text-neutrals);
	background-color: var(--colors-background-neutrals-subtle);
	border: 1px solid var(--colors-border-neutrals);

	&:hover {
		background-color: var(--colors-background-neutrals-subtle-hover)
	}

	.words {
		display: flex;
		flex-wrap: wrap;
		gap: $space-md;
	}

	.timecode {
	}
}
