@use '../../styles/_variables.scss' as *;
@use '../../styles/_colors.scss' as *;

.emptyState {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: $space-md;
	align-items: center;
	justify-content: center;
	color: $text-tertiary;
	text-align: center;

	svg {
		width: 5rem;
		height: 5rem;
		color: $text-muted;
	}

	.header {
		margin-bottom: 0.5rem;
		font-size: 1.25rem;
		font-weight: 600;
		color: $text-secondary;
	}

	.description {
		max-width: 24rem;
		margin: 0 auto;
		font-size: 0.875rem;
		line-height: 1.5;
	}
}
