@use '../../styles/_variables.scss' as *;
@use '../../styles/_sharedStyles.scss' as *;

.movieSubsContainer {
	padding: 0 $space-lg;

	.info {
		display: flex;
		overflow: hidden;
		color: var(--colors-text-neutrals);
		background-color: var(--colors-background-neutrals-subtle);
		border-top: 0;
		border-radius: $space-xl;

		.cover {
			display: block;
			width: 100%;
			max-width: 230px;
			max-height: 345px;
			aspect-ratio: 2/3;
			object-fit: cover;
		}

		.details {
			display: flex;
			flex-direction: column;
			gap: $space-md;
			padding: $space-xxl;

			.title {
				font-size: $font-xl;
				color: var(--colors-text-neutrals);
				transition: color 0.1s linear;

				&:hover {
					color: var(--colors-text-neutrals-subtle);
				}
			}

			.rating {
				display: flex;
				gap: $space-md;
				align-items: center;

				.imdb {
					display: flex;
					gap: $space-sm;
					align-items: center;
					width: fit-content;

					.imdbLogo {
						width: $space-xl;
						height: $space-lg;
					}
				}
			}

			.allSubsButton {
				margin-top: auto;
				margin-bottom: $space-lg;

				@extend %button-base;
			}
		}
	}
}
