@use 'styles/global';
@use '@styles' as *;

.main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: var(--bg-primary);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	border: none;
	opacity: 0%;
}

.react-loading-skeleton + br {
	display: none;
}

.flex1 {
	flex: 1;
	width: 100%;
}

.center {
	@include center-flex;
}

.round {
	.react-loading-skeleton {
		border-radius: 1rem;
	}
}
