@use '../../styles/_variables.scss' as *;
@use '../../styles/sharedStyles.scss' as *;

.searchContainer {
	display: flex;
	justify-content: center;
	padding: $space-lg;

	.inputContainer {
		display: flex;
		align-items: center;
		gap: $space-sm;
		width: 100%;
		max-width: 800px;
		padding: $space-sm 0 $space-sm $space-sm;
		background-color: var(--colors-background-neutrals-subtle);
		border-radius: $space-md;
		border: 1px solid transparent;
		cursor: text;
		transition: border 0.1s linear;

		&:has(input:focus) {
			border: 1px solid var(--colors-border-primary);
		}

		.searchBtn {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;

			.icon {
				min-width: 16px;
				min-height: 16px;
				max-width: 16px;
				max-height: 16px;
				height: 16px;
				width: 16px;
				cursor: pointer;
			}
		}

		.searchInput {
			width: 93%;
			padding: $space-xs;
			font-size: $font-lg;
			font-family: 'Noto Sans', Arial, sans-serif;

			&::placeholder {
				color: var(--colors-text-neutrals-placeholder);
			}

			::-webkit-clear-button {
				display: none;
			}
		}

		.clearBtn {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 100%;
			padding: 0;
			cursor: pointer;

			.clearIcon {
				height: 16px;
				width: 16px;
			}
		}
	}
}

.results {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	margin-bottom: $space-lg;

	.resultsContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-self: flex-start;
		width: 100%;
		gap: $space-lg;

		.header {
			display: flex;
			font-size: $font-xxl;
			justify-content: center;
			align-items: center;
			gap: $space-md;
			color: var(--color-black);
		}
	}

	.searchError {
		text-align: center;
		font-size: $font-xl;
		color: var(--color-yellow-dark);
	}
}
