@use 'colors' as *;

@keyframes fadeIn {
	from {
		opacity: 0%;
	}

	to {
		opacity: 100%;
	}
}

@keyframes scaleIn {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

@keyframes highlight {
	0%,
	40%,
	80% {
		background-color: var(--bg-muted);
	}

	20%,
	60% {
		background-color: var(--interactive-focus);
	}
}
