@use './_variables.scss' as *;

%container {
	width: 100%;
	max-width: 1480px;
	margin: 0 auto;
}

%button-base {
	display: block;
	width: fit-content;
	padding: $space-md;
	font-size: $font-lg;
	color: var(--colors-text-neutrals);
	text-decoration: none;
	cursor: pointer;
	background-color: var(--colors-background-neutrals);
	border: 1px solid var(--colors-border-neutrals);
	border-radius: $space-sm;
	transition:
		color 0.1s linear,
		background-color 0.1s linear;

	&:hover {
		background-color: var(--colors-background-neutrals-subtle-hover);
	}

	&:focus-visible {
		background-color: var(--colors-background-neutrals-subtle-hover);
	}
}

%input-base {
	width: 100%;
	padding: $space-md;
	font-size: $font-lg;
	border: 1px solid var(--colors-border-neutrals-controls);
	border-radius: $space-md;
}

%round-button-base {
	all: unset;
	top: -15px;
	box-sizing: border-box;
	width: 75px;
	height: 75px;
	padding: $space-sm;
	border-radius: 50%;
	opacity: 50%;
	transition:
		translate 0.1s linear,
		opacity 0.15s ease;

	&:hover:not(:disabled) {
		opacity: 80%;
	}
}
