// space
$space-xs: 0.25rem;
$space-sm: 0.5rem;
$space-md: 0.75rem;
$space-lg: 1rem;
$space-xl: 1.25rem;
$space-xxl: 1.5rem;

// font
$font-xs: 0.25rem;
$font-sm: 0.5rem;
$font-md: 0.75rem;
$font-lg: 1rem;
$font-xl: 1.25rem;
$font-xxl: 1.5rem;

// border
$br-sm: 0.25rem;
