@use '../../styles/_variables.scss' as *;

.pickMovieSubs {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	margin-top: $space-xxl;

	.movieSubList {
		display: flex;
		flex-wrap: wrap;
		gap: $space-lg;

		.movieSubItem {
			flex: 1;
			border: 1px solid var(--colors-border-neutrals);

			.pickMovieSubBtn {
				display: flex;
				flex-direction: column;
				gap: $space-md;
				width: 100%;
				padding: $space-lg;
				font-size: $font-lg;

				.title {
					text-wrap: nowrap;
				}

				.date {
					text-wrap: nowrap;
				}
			}
		}
	}
}
