@use '../../styles/_variables.scss' as *;
@use '../../styles/_sharedStyles.scss' as *;

.loginPage {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--colors-background-primary-subtle);

	.form {
		width: 400px;
		border: 1px solid var(--colors-border-neutrals);
		display: flex;
		padding: $space-lg;
		flex-direction: column;
		gap: $space-md;
		border-radius: $space-lg;
		background-color: var(--colors-background-neutrals-container);

		.inputWrapper {
			display: flex;
			flex-direction: column;
			gap: $space-xs;

			.label {
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: $font-lg;
			}

			.input {
				@extend .input;
				background-color: var(--colors-background-primary-subtle);

				&::placeholder {
					font-style: italic;
					color: var(--colors-text-neutrals-placeholder);
					font-weight: 500;
				}
			}

			.inputError {
				color: var(--colors-text-danger);
				font-size: $font-md;
			}
		}

		.submitBtn {
			@extend .button;
			margin-top: $space-sm;

			width: 100%;
			background-color: var(--colors-button-background-success);
			color: var(--colors-text-neutrals-inverted);

			&:hover {
				background-color: var(--colors-button-background-success-hover);
				color: var(--colors-text-neutrals-inverted);
			}
		}
	}
}
