@use '../../styles/_variables.scss' as *;

.subtitle {
	display: flex;
	flex-direction: column;
	gap: $space-lg;
	padding: $space-lg;
	color: var(--colors-text-neutrals);
	background-color: var(--colors-background-neutrals-subtle);
	border: 1px solid var(--colors-border-neutrals);
	border-radius: $space-sm;

	.words {
		display: flex;
		flex-wrap: wrap;
	}

	.timecode {
		font-style: italic;
	}
}
