@use '../../styles/_variables.scss' as *;

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
	font-size: $font-xl;
}

.controlPanel {
	display: flex;
	justify-content: space-between;
	margin-bottom: $space-lg;
}

.subtitles {
	display: flex;
	flex-direction: column;
	gap: $space-lg;
	margin-bottom: $space-xl;
}

@keyframes highlight {
	0%,
	50%,
	100% {
		background-color: var(--colors-background-neutrals-subtle);
	}

	25%,
	75% {
		background-color: lightblue;
	}
}

.subtitle {
	display: flex;
	flex-direction: column;
	gap: $space-lg;
	padding: $space-lg;
	color: var(--colors-text-neutrals);
	background-color: var(--colors-background-neutrals-subtle);
	border: 1px solid var(--colors-border-neutrals);
	border-radius: $space-sm;

	&.highlighted {
		animation: highlight 2.5s ease-in-out;
	}
}

.words {
	display: flex;
	flex-wrap: wrap;
}

.timecode {
	font-style: italic;
}

.word {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35px;
	padding: 0 $space-sm;
	cursor: pointer;
	background-color: var(--colors-background-neutrals);
	transition:
		background-color 0.15s linear,
		scale 0.2s linear;

	&:hover {
		background-color: var(--);
	}

	&:hover:not(.added) .text {
		translate: 0 -2px;
	}

	&:active:not(.added) .text {
		translate: 0;
	}

	&:active {
		scale: 1.1;
	}

	&.added {
		background-color: var(--colors-border-success-subtle);
	}
}

.text {
	font-size: $font-lg;
	font-weight: 500;
	transition: translate 0.1s linear;
}

.punctuation {
	display: flex;
	align-items: center;
	justify-content: start;
	width: $space-md;
	font-size: $font-lg;
	font-weight: 800;
	background-color: var(--colors-background-neutrals);
}

.wordsJoinContainer {
	display: flex;
	flex-flow: row wrap;
	gap: 0.5rem;
}

.wordToJoin {
	width: fit-content;
	padding: 1rem;
	font-size: 1rem;
	border: 1px solid #cdd;
}

.wordsJoinControls {
	display: flex;
	gap: 0.5rem;
}

.selectedWords {
	display: flex;
	gap: 1rem;
}
