@use '@styles' as *;

.subtitle {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0.5rem;
	background-color: var(--bg-muted);
	border: 1px solid var(--border-light);
	border-radius: 0.5rem;

	&.highlighted {
		animation: highlight 2.5s ease-in-out;
	}

	@include respond-to('lg') {
		flex-direction: column;
		align-items: start;
	}
}

.header {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.timecode {
	width: fit-content;
	height: min-content;
	padding: 0.25rem 0.5rem;
	font-size: 0.75rem;
	font-weight: 500;
	color: var(--text-tertiary);
	text-wrap: nowrap;
	background: var(--bg-tertiary);
	border-radius: 0.25rem;
}

.translateBtn {
	display: flex;
	gap: 0.375rem;
	align-items: center;
	justify-content: center;
	transition: all 0.2s ease;

	svg {
		width: 1.2rem;
		height: 1.2rem;
	}

	@include desktop-hover {
		transform: translateY(-1px);
	}
}

.translation {
	margin: 0.25rem 4px;
	font-size: 1rem;
	font-weight: 500;
	color: var(--text-secondary);
	word-spacing: 0.25rem;
	letter-spacing: 0.05rem;

	&.error {
		@include center-flex;

		gap: 0.25rem;
		color: var(--error);
		word-spacing: normal;
	}
}
