@use './styles/_colors.scss' as *;
@use './styles/_variables.scss' as *;
@use 'sass:meta';

:root {
	@include generate-color-vars($colors);
}

// when scroll disappears, it makes everything move right
body {
	width: 100vw;
	overflow-x: hidden;
	margin: 0 auto;
	padding: 0 0 0 80px;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

a {
	all: unset;
	text-decoration: none;
	cursor: pointer;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	background-color: var(--color-background);
	color: var(--color-black);
	font-family: 'Noto Sans', Arial, sans-serif;
}

ul {
	all: unset;
	padding-inline-start: 0;
	list-style: none;
	margin: 0;
}

input {
	font-family: 'Noto Sans', Arial, sans-serif;
}

input::-webkit-search-cancel-button,
input::-webkit-clear-button {
	display: none;
	appearance: auto;
	-moz-appearance: textfield;
}

.main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
