#root {
	max-width: 1280px;
	margin: 0 auto;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	text-decoration: none;
	color: white;
	transition: color 0.1s linear;

	&:hover {
		color: #ccc;
	}
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	background-color: black;
	color: #fff;
	font-family: 'Roboto', Arial, sans-serif;
}

ul {
	padding-inline-start: 0;
	list-style: none;
}

input::-webkit-search-cancel-button,
input::-webkit-clear-button {
	display: none;
	appearance: auto;
	-moz-appearance: textfield;
}

.root {
	margin-bottom: 15px;
}

.mainpage {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.button {
	display: block;
	width: fit-content;
	padding: 10px;
	border: 2px dashed #fff;
	border-radius: 20px;
	text-decoration: none;
	color: #fff;
	background-color: black;
	transition: color 0.2s linear, background-color 0.2s linear;

	&:hover {
		color: black;
		background-color: white;
	}
}
