@use '@styles' as *;
@use 'sass:color';

.wordItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.75rem 1rem;
	background: $bg-secondary;
	border-radius: 0.5rem;
	transition: all 0.2s ease;

	&:hover {
		background: color.adjust($bg-secondary, $lightness: -3%);
	}
}

.wordInfo {
	display: flex;
	flex: 1;
	gap: 1rem;
	align-items: center;
}

.word {
	flex: 1;
	font-weight: 500;
	color: $text-primary;
}

.translationContainer {
	display: flex;
	flex: 5;
	flex-direction: column;
	gap: 0.25rem;
}

.translation {
	font-size: 0.875rem;
	color: $text-secondary;
}

.translationPos {
	font-weight: 600;
}

.wordActions {
	display: flex;
	gap: 0.5rem;
}

.actionButton {
	padding: 0.375rem;
	color: $text-tertiary;
	cursor: pointer;
	background: none;
	border: none;
	border-radius: 0.375rem;
	transition: all 0.2s ease;

	&:hover {
		color: $text-secondary;
		background: $bg-tertiary;
	}
}

.actionButton.translateButton:hover {
	color: $success;
}

.actionButton.saveButton:hover {
	color: $warning;
}

.actionButton.deleteButton:hover {
	color: $error;
}

.actionButton svg {
	width: 1rem;
	height: 1rem;
}

.wordSourcesContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	max-height: 664px;
	overflow-y: auto;
}

.wordSourcesHeader {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	padding-bottom: 1rem;
	text-align: center;
	background-color: $bg-primary;
}

.wordSourceList {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	&:not(:first-of-type) {
		margin-top: 0.5rem;
	}
}

.wordSource {
	display: flex;
	gap: 1rem;
	padding: 1rem;
	color: $text-primary;
	cursor: pointer;
	background-color: $bg-tertiary;
	border-radius: 1rem;
	transition: background-color 0.1s ease;

	&:hover {
		background-color: color.adjust($bg-tertiary, $lightness: -15%);
	}
}

.wordSource.mySource {
	background-color: $bg-success-light;

	&:hover {
		background-color: color.adjust($bg-success-light, $lightness: -10%);
	}
}

.poster {
	max-height: 10rem;
}

.sourceInfo {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: start;
}

.movieName {
	font-weight: 600;
}

.timecode {
	font-size: 0.8rem;
	font-style: italic;
}

.loadMoreBtn {
	@extend %button-base;

	margin-top: 1rem;
}