@use '../../styles/_variables.scss' as *;
@use '../../styles/_sharedStyles.scss' as *;
@use '../../styles/animations.scss' as *;

.authPage {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;

	.formWrapper {
		width: 400px;
		background-color: var(--colors-background-neutrals-container);
		border: 1px solid var(--colors-border-neutrals);
		border-radius: $space-lg;
		box-shadow: 0 $space-xs $space-sm var(--colors-background-neutrals-control);
		animation: scaleIn 0.2s ease-in-out;

		.methodPicker {
			display: flex;
			justify-content: center;

			// margin-top: -50%;
			translate: 0 -50%;

			label {
				padding: $space-md 60px;
				font-weight: 500;
				color: var(--colors-text-neutrals-inverted);
				cursor: pointer;
				transition: background-color 0.1s ease;

				&:has(input:checked) {
					border-bottom: 2px dashed var(--colors-border-neutrals);
				}

				&:hover {
					background-color: var(--colors-background-primary-subtle-hover);
				}

				&:first-child {
					background-color: var(--colors-background-success);
					border-right: none;
					border-top-left-radius: $space-lg;

					&:hover {
						background-color: var(--colors-background-success-active);
					}
				}

				&:last-child {
					background-color: var(--colors-background-primary-prominent);
					border-left: none;
					border-top-right-radius: $space-lg;

					&:hover {
						background-color: var(--colors-background-primary-prominent-hover);
					}
				}

				input[type='radio'] {
					display: none;
				}
			}
		}

		.form {
			display: flex;
			flex-direction: column;
			gap: $space-md;
			padding: 0 $space-lg $space-lg;

			.inputWrapper {
				display: flex;
				flex-direction: column;
				gap: $space-xs;

				.label {
					display: flex;
					align-items: end;
					justify-content: space-between;
					font-size: $font-lg;
				}

				.input {
					@extend %input-base;

					background-color: var(--colors-background-primary-subtle);

					&::placeholder {
						font-style: italic;
						font-weight: 500;
						color: var(--colors-text-neutrals-placeholder);
					}
				}

				.inputError {
					font-size: $font-md;
					color: var(--colors-text-danger);
				}
			}

			.submitBtn {
				@extend %button-base;

				width: 100%;
				margin-top: $space-sm;
				color: var(--colors-text-neutrals-inverted);
				background-color: var(--colors-button-background-success);

				&:hover {
					color: var(--colors-text-neutrals-inverted);
					background-color: var(--colors-button-background-success-hover);
				}

				&.primary {
					background-color: var(--colors-background-primary-prominent);

					&:hover {
						color: var(--colors-text-neutrals-inverted);
						background-color: var(--colors-background-primary-prominent-hover);
					}
				}
			}
		}
	}
}
