@use '../../styles/_variables.scss' as *;
@use '../../styles/_sharedStyles.scss' as *;

.paginator {
	margin: $space-lg 0;
	display: flex;
	column-gap: $space-sm;
	justify-content: flex-end;
	
	.buttons {
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
		column-gap: $space-sm;

		button {
			@extend .button;
			
			aspect-ratio: 1;

			.prevIcon {
				rotate: 90deg;
			}

			.nextIcon {
				rotate: -90deg;
			}

			&:disabled {
				background-color: var(--colors-background-neutrals-disabled);
			}

			&.active {
				color: var(--colors-text-neutrals-inverted);
				background-color: var(--colors-background-primary-prominent);

				&:hover {
					background-color: var(--colors-background-primary-prominent-hover);
				}
			}
		}
	}
}
